################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LitleGame/.vs/**/*
obj/Debug/**/*
/LitleGame/LitleGame/bin/Debug
/LitleGame/LitleGame/obj/Debug
